    .bg-color {
        background-color: #f0f4c3;
    }
    
    body {
        position: relative;
        background-color: #f0f4c3;
      }
  
      table {
        border: 1px solid black;
  
        table-layout: fixed;
        width: 200px;
      }
  
      th,
      td {
        border: 1px solid black;
        width: 100px;
        overflow: hidden;
      }
  
      #section1 {
        padding-top: 50px;
        height: auto;
        color: rgba(14, 13, 13, 0.808);
        background-color: #f0f4c3;
      }
  

    /* .title {
        color: whitesmoke;
        padding:10px
    }

    .mr-left {
        margin-left: 30%
    }
    .searchText{
        width: 50%
    }
    .multiSelect {
        color: #000!important;
        background-color: #f1f1f1!important;
    }
    .sideBar {
        height: 100%;
        width: 200px;
        background-color: #fff;
        position: fixed!important;
        z-index: 1;
        overflow: auto;
    }
    .left-menu {
        position: fixed;
        top: 0;
        padding-top: 13%;
        padding-bottom: 0;
        height: 100%;
        width: 220px;
        background-color: transparent;
        margin-left: 10px;
    }

    .left-menu-inner {
        height: 75%;
        width: 100%;
        padding-top: 20px;
    }

    .searchLevel {
        width: 300px;
        margin-left: 55%;
    }

    .descriptionCls {
        width: 55%;
        margin-left: 22%;
        padding:30px;
        background-color: #f8f9fa;
    }  */