        .bg-color {
            background-color: black
        }

        .title {
            color: whitesmoke;
            padding:10px
        }

        .mr-left {
            margin-left: 30%
        }
        .searchText{
            width: 50%
        }
        .multiSelect {
            color: #000!important;
            background-color: #f1f1f1!important;
        }
        .sideBar {
            height: 100%;
            width: 200px;
            background-color: #fff;
            position: fixed!important;
            z-index: 1;
            overflow: auto;
        }
        .left-menu {
            position: fixed;
            top: 0;
            padding-top: 175px;
            padding-bottom: 0;
            height: 100%;
            width: 220px;
            background-color: transparent;
        }

        .left-menu-inner {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .searchLevel {
            position: absolute;
            right: 0px;
            width: 300px;
            padding: 10px;
        }